.sombra-abajo {
  box-shadow: 0px 0px 5px #999;
}
.margen-abajo {
  margin-bottom: 10px;
}
.fotoPerfilPortada {
  margin-top: -80px;
  margin-left: -50px;
  height: 200px;
}

.contenedorFotoPortada {
  position: absolute;
  top: 260px;
  left: 5%;
}
.userNames {
  margin-top: 0px;
  color: black;
  margin-left: 0px;
}
.gray {
  color: gray;
}

.fotoPortada {
  height: 375px;
  width: 6000px;
}
.marginPortada {
  margin-top: 0px;
}
.fotos {
  width: 286px;
  height: 100%;
}
