<nav class="navbar navbar-expand fixed-top bg-dark">

  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  <div class="navbar-brand" [routerLink]="['/muro']">
    <img src="assets/images/logo.png" width="30" height="30" alt="" />
    <a class="navbar-brand" style="color:white;">IonChat</a>
    <span class="ml-2 text-light"></span>
  </div>
  <div class="navbar-collapse collapse show " id="navbarColor01">

    <ul class="navbar-nav mr-auto end">

      <form class="form-inline">
        <input type="text" class="form-control" [(ngModel)]="userSearched" name="userSearched">
        <button class="btn btn-outline-info estiloRedondo" type="submit" (click)="open(content)"><i
            class="fas fa-search"></i></button>
      </form>

    </ul>
    <ul class="nav justify-content-end" style="color:#5b8bec;">
      <li class="nav-item">
        <a class="nav-link inline" [routerLink]="['/userprofile']"> <img class="card-img" src="{{srcFoto}}"
            class="fotos rounded-circle">
          <b *ngIf="refreshUser()">{{ user.name }} {{user.lastName}}</b>
        </a>
      </li>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropdown-menu-lg-right" ngbDropdown>
            <a href="javascript:void(0)" class="nav-link text-light positionList" ngbDropdownToggle><i
                class="fas fa-users fa-2x"></i><span class="sr-only">(current)</span></a>
            <div class="dropdown-menu dropdown-menu-lg-right" ngbDropdownMenu>
              <a class="dropdown-item" *ngFor="let item of friendsGets">
                <ng-container *ngFor="let items of nameFriends">
                  <ng-container *ngIf="!acceptRequest">
                    <div class="row" *ngIf="user.id === item.idUser">
                      <ng-container *ngIf="item.idFriend === items.id">
                        <div class="col-1"><img class="picturePosition rounded-circle" src="{{pictureReturned}}"
                            width="40" height="40">
                        </div>
                        <div class="col-8"> <span>{{items.name}} {{items.lastName}} te ha enviado </span> <br>
                          <span>una solicitud de amistad</span>
                          <div class="col-1">
                            <button type="submit" class="btn btn-primary" (click)="acceptFriend(item.idFriend)">Agregar</button>
                            <button type="submit" class="btn btn-danger" (click)="cancelFriend(item.id)">Cancelar</button>
                          </div>
                        </div>
                      </ng-container>

                    </div>
                  </ng-container>
                </ng-container>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link"> <i class="fas fa-envelope fa-2x"></i><span class="sr-only">(current)</span></a>
      </li>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropdown-menu-lg-right" ngbDropdown>
            <a href="javascript:void(0)" class="nav-link text-light positionList" ngbDropdownToggle>
              <b> Opciones Session </b> <i class="fas fa-cogs fa-2x"></i><b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right" ngbDropdownMenu>
              <a class="dropdown-item" [routerLink]="['/profile']">
                <i class="fas fa-key"></i>Cambiar Contraseña
              </a>
              <a class="dropdown-item" [routerLink]="['/login']" (click)="logout()">
                <i class="fa fa-fw fa-power-off"></i>Cerrar Sesion
              </a>
            </div>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="card ">
    <div class="card-header text-center">
      <h2><b>Usuarios Encontrados</b></h2><br>
      <b>
      </b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-10" *ngFor="let person of personReturned">
          <div class="row" *ngIf="person.id !== user.id">
            <ng-container *ngIf="!isRequest">
              <div class="col-4">
                <img src="{{pictureReturned}}" width="60" height="60" alt="" />
              </div>
              <div class="col-6">
                <label>{{person.name}} {{person.lastName}} {{person.birthday }} años</label>
                <button type="submit" class="btn btn-primary" (click)="sendFriendRequest(person.id)">Agregar</button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>