<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="muro-scroll">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><i class="fas fa-edit"></i>Publicacion</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-center">
                <form>
                  <textarea *ngIf="!isPicture" type="text" class="form-control" [(ngModel)]="content"
                    name="content"></textarea>
                  <br>
                  <img *ngIf="isPicture" src="{{srcFoto}}" width="300" height="300">

                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <i (click)="fileInput.click()" class="fas fa-camera fa-2x colorCamera"><span
                    class="sr-only">(current)</span></i>
                <input hidden=true type="file" id="foto" placeholder="Fotografía" #fileInput
                  (change)="CodificarArchivo($event)" accept="image/*">
              </div>
              <div class="col-6">
                <div class="text-right">
                  <button *ngIf="!isPicture" type="button" class="btn btn-outline-primary"
                    (click)="publicar()">Publicar</button>
                  <button *ngIf="isPicture" type="button" class="btn btn-outline-primary"
                    (click)="publicarFoto()">Publicar</button>
                  <button *ngIf="isPicture" type="submit" class="btn btn-danger"
                    (click)="isPicture = false">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div *ngFor="let item of listPublication">
          <div class="card  alert-secondary">
            <ng-container *ngFor="let person of listUsers">
              <div class="alert alert-info" *ngIf="item.idUser == person.id">
                <h5 class="card-title"><i class="fas fa-edit"></i> {{ person.name }} Ha
                  compartido
                  una Publicacion </h5>
              </div>
            </ng-container>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h6>{{item.content}}</h6>
                </div><br>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div *ngFor="let item of listImage">
          <div class="card  alert-secondary">
            <ng-container *ngFor="let person of listUsers">
              <div class="alert alert-info" *ngIf="item.idUser == person.id">
                <h5 class="card-title"><i class="fas fa-edit"></i> {{ person.name }} Ha
                  compartido
                  una Publicacion </h5>
              </div>
            </ng-container>
            <div class="card-body text-center">
              <div class="row">
                <div class="col-12">
                  <img src="{{item.srcFoto}}" width="300" height="300">
                </div><br>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="width: 300px; height: 199px; overflow-y: scroll;">
        <ng-container *ngFor="let item of friendsGets">
          <ng-container *ngFor="let items of nameFriends">
            <ng-container *ngIf="x.id === item.idUser">
              <ng-container *ngIf="item.idFriend === items.id">
                <ng-container *ngIf="item.idState === 2">
                  <div class="card alert-info" style="width: 15rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" (click)="openMesaje(items.id)"> {{items.name}}
                        <span class="badge badge-primary badge-pill"></span>
                      </li>
                    </ul>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <br>
      <div class="card" style="width: 15rem;" *ngIf="viewMesaje">
        <div class="alert alert-primary" style="width: 15rem;" role="alert">
          {{userMesaje.name}}
        </div>
        <div class="card-body message-scroll" style="width: 15rem; height: 14rem;">
          <div class="message-group" *ngFor="let message of conversation">
            <ng-container>
              <div *ngIf="message.type == 'Text'" class="message"
                [ngClass]="x.id == message.idUser ? 'me-message' : 'friend-message'">
                {{  message.content }}</div>
            </ng-container>
          </div>
        </div>
        <div class="row" style="width: 18rem;">
          <div class="col-8">
            <textarea [(ngModel)]="mensaje.content" name="content" id="" style="width: 12rem;"></textarea>
          </div>
          <div class="col-1"> <br>
            <i class="fas fa-arrow-circle-right fa-2x" (click)="enviarMensaje()"></i></div>

        </div>
      </div>
    </div>

  </div>